<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> 
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Home | Seiren Viscotec Mexico SA de CV.</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	 <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="../Public/assets/css/ALERT02.css" rel="stylesheet" />
    <link rel="shortcut icon" href="../Public/assets/img/logolab.png" />
    <link href="../Public/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="../Public/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../Public/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../Public/assets/css/animate.min.css" rel="stylesheet" />
    <link href="../Public/assets/css/style.min.css" rel="stylesheet" />
    <link href="../Public/assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="../Public/assets/css/theme/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="../Public/assets/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body onload="loadIndex()">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #content -->
		<div id="content" class="content">
			<div class="row">
			<h1 class="page-header"><i  aria-hidden="true"></i>REPORTE DE AVANCE PRESUPUESTAL</h1>
				<div class="col-md-3 col-sm-6">
					<div class="widget widget-stats bg-blue">
						<div class="stats-icon"><i class="fa fa-money fa-fw"></i></div>
						<div class="stats-info">
							<h4>PRESUPUESTO</h4>
							<div  class="stats-number"  id="amount_drafts"><i class="fa fa-dollar fa-fw" style="color:rgb(27, 150, 33)"></i><span id="presupuesto"></span></div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="widget widget-stats bg-blue">
						<div class="stats-icon"><i class="fa fa-check-square fa-fw"></i></div>
						<div class="stats-info">
							<h4>EJERCIDO</h4>
							<div class="stats-number" id="amount_drafts"><i class="fa fa-percent fa-fw" style="color:rgb(73, 62, 62)"></i> 99.88</div>
						</div>
						<div class="stats-link">
							<a><i class="fa fa-dollar fa-fw"></i><span id="ejercido"></span></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="widget widget-stats bg-blue">
						<div class="stats-icon"><i class="fa fa-times fa-fw"></i></div>
						<div class="stats-info">
							<h4>NO EJERCIDO</h4>
							<div class="stats-number" id="amount_drafts"><i class="fa fa-percent fa-fw" style="color:rgb(190, 90, 90)"></i> 0.12</div>
						</div>
						<div class="stats-link">
							<a><i class="fa fa-dollar fa-fw"></i><span id="No_ejercido"></span></a>
						</div>
					</div>
				</div>
				<div class="col-md-9 col-sm-6">
					<div>
						<canvas id="miGrafico"></canvas>
					</div>
			<!-- end row -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->      
	<div class="row"> 
		<div class="col-md-12">
		<!-- begin panel -->
		<div class="panel panel-primary">
			<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-filter" aria-hidden="true"></i> FITROS  
			</div>
			<!-- funciones de Cobobox Filter Status -->
				<!-- Combobox -->
				<div class="col-md-2 pull-left" >
					<br>
						<select name="cbxSecretaria" id="cbxSecretaria" class="form-control" onchange=FiltrocbxSecretaria()>
							<option value="0">SECRETARIA</option>
						</select>
						<br>
				</div>
				<div class="col-md-2 pull-left" >
					<br>
						<select name="cbxSSecretaria" id="cbxSSecretaria" class="form-control" onchange=FiltrocbxSUBSecretaria()>
							<option value="0">SUBSECRETARIA </option>
						</select>
					<br>
				</div>
				<div class="col-md-2 pull-left" >
					<br>
						<select name="cbxProyecto" id="cbxProyecto" class="form-control">
							<option value="0">PROYECTO </option>
						</select>
					<br>
				</div>
				<!-- FIn de Cobobox Filter Status -->
				<!-- Boton Limpiar y filtrar -->
				<div class="col-md-2 pull-right" >
					<br>
						<button value="Electrical" style="background-color:#f8f8f8; border-color: rgb(42, 40, 40);"onMouseover="this.style.color='white'" onMouseout="this.style.color='black'" class="btn pull-right" data-toggle='modal' data-backdrop="static" data-target='#AgregarLaptop' onclick="limpiartabla(this.value)"><i class="fa fa-times" aria-hidden="true"></i> LIMPIAR</button> </h3><br>
					<br>
				</div>
				<div class="col-md-2 pull-right" >
					<br>
						<button value="Electrical" style="background-color:#092847; border-color: #fff;"onMouseover="this.style.color='#00acac'" onMouseout="this.style.color='white'"" class="btn pull-right" data-toggle='modal' data-backdrop="static" data-target='#AgregarLaptop' onclick="filtro_table()"><i class="fa fa-plus" aria-hidden="true"></i> FILTRAR</button> </h3><br>
					<br>
				</div>
				<!-- FIn de Botones -->
			<div class="panel-body">
			<table id="data_table" class=" table table-striped table-bordered table-responsive"  style="width:100%">
						<thead>
							<tr>
								<th>Secretaria</th>
								<th>Subsecretaria</th>
								<th>Proyecto</th>
								<th>Presupuesto Original</th>
								<th>Presupuesto Modificado</th>
								<th>Presupuesto Comprometido</th>
								<th>Presupuesto Devengado</th>
							</tr>
						</thead>
					<tbody>    
					</tbody>
				</table>  

			</div>
			
		</div>
		<!-- end panel -->
		</div>
		<!-- end col-12 -->
	</div>



<!-- end col-12 ultimo div del todo -->
</div>
</div>
</div>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->      

		</div>
		<!-- end #content -->


		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
    <script src="../Public/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="../Public/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="../Public/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="../Public/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../Public/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="../Public/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>

    <script src="../Public/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../Public/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->

    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="../Public/assets/js/apps.min.js"></script>
    <script src="../Public/js/sweetalert.min.js"></script>
    <script src="../Public/js/confirmacionsw.js"></script>
    <script src="../Control/js/js.js"></script>



	<!-- Chart JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js" integrity="sha256-JG6hsuMjFnQ2spWq0UiaDRJBaarzhFbUxiUTxQDA9Lk=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js" integrity="sha256-J2sc79NPV/osLcIpzL3K8uJyAD7T5gaEFKlLDM18oxY=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" integrity="sha256-CfcERD4Ov4+lKbWbYqXD6aFM9M51gN4GUEtDhkWABMo=" crossorigin="anonymous"></script>
	<script src="../Control/js/datos.js"></script>
	<script>
		$(document).ready(function() {
			App.init();
			Muestra_Presu_Ori();
			Muestra_Presu_Ejer();
			Muestra_Presu_No_Ejer();
			loading_Cbx();
		});
	</script>
</body>
</html>
